@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}
* {
        margin: 0;
}
:root{
    --primary: #1CA386;
    --secondary: #05F0BD;
    --emphasis: #F0112B;
    --background: #a9e2d5;
    --white: #edfffb;
    --black: #082922;
    --primaryFont: 'Nunito', sans-serif;

}

/* Globals */
html{
    font-size: 62.5%;
}
body {
    height: 100%;
    background-color: var(--background);
    font-family: var(--primaryFont);
    font-size: 1.6rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: var(--baseFont);
    font-family: var(--primaryFont);
    overflow-wrap: break-word;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}
a{
    text-decoration: none;
}
p {
    font-size: 1.8rem;
    color: var(--black);
    overflow-wrap: break-word;
}
.center{
    text-align: center;
}
.container{
    max-width: 120rem;
    margin: 0 auto;
}
.icon-md{
    font-size: 3rem;
}
/*Header*/
.header__subtitle{
    color: var(--primary);
}

.header__content{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
    max-width: 20rem;
    margin: 0 auto;
    border: 0.1rem solid var(--black);
    border-radius: 1rem;
}

.header__content__icon{
    align-self: center;
    font-size: 2.5rem;
}
/*Main*/
.options{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.option{
    max-width: 10rem;
    font-size: 10rem;
    color: var(--black);
    transition: all .3s ease;
}
.option:hover{
    font-size: 12rem;
}

/*Score*/
.score{
    margin-top: 2rem;
}

/*Reset game*/
.reset{
    margin-top: 5rem;
}

.reset__btn{
    border-style: none;
    border: 2px solid var(--black);
    border-radius: .5rem;
    padding: 1rem 2rem;
    background-color: transparent;
    font-size: 2rem;
    transition: all .5s ease-in-out;
}
.reset__btn:hover{
    background: #146957;
    color: var(--white);
    font-size: 2.5rem;
    border: none;
    cursor: pointer;
}
/*Footer*/
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #84b1a7;
    padding: 1rem 0;
}